/* CSS */
html {font:normal 14px/1.4 "Trebuchet MS", Helvetica, Verdana, sans-serif; color:#292929;}
/*
http://www.colorschemer.com/schemes/viewscheme.php?id=779
#59708C - med blue
#9ABABB - light bluegreen
#CDD3D3 - gray
#E6EEEE - ice blue
#F3F3F3 - ice white
#BABABA - light gray
#999999 - med gray
#333333 - darkest gray
#534B48 - grayish brown
*/
body {}

header, nav, section, footer {padding:10px; border-bottom:1px solid #eee;}

#header {display:none;}

#content {}

a:link {color:#59708C;}
a:visited {color:#999999;}
a:hover {color:#9ABABB;}
a:active {}

#tabNav li, #tabNav a {display:block; float:left; height:80px;}
#tabNav li {text-align:center; 1background-color:#ccc; 1border:1px solid #555; border-right:0; border-left:0;}
#tabNav ul > li:first-child a {border-radius:14px 0 0 14px;}
#tabNav ul > li:last-child a {border-radius:0 14px 14px 0;}
#tabNav a {width:140px; border:1px solid transparent; border-width:0 1px 0 1px; border-right-color:#000; border-left-color:#999; background-color:#534B48;}
#tabNav a.selected {background:#9ABABB;}
#tabNav ul > li:first-child a {border-left:none;}
#tabNav ul > li:last-child a {border-right:none;}

section {display:none;}
section.selected {display:block;}

h2 {clear:both; font-size:14px; text-transform:uppercase; font-weight:bold;}
#feeds {padding:10px 0;}
h2, #feeds li {padding:10px;}
#feeds li.post {display:block; border-bottom:1px dashed #CDD3D3; background-color:#E6EEEE; font-size:12px;}

#feeds li span {display:inline-block;}
#feeds li span.author {1float:left;}
#feeds li time {1clear:left; 1float:left;}
#feeds li p.comment {1float:right; padding:6px 12px; margin-bottom:5px;  border:1px solid #FEFEFE; border-radius:5px; -webkit-box-shadow:2px 2px 3px 0 #CDD3D3;}
#feeds li a.location {display:inline-block; padding-right:15px; 1text-indent:-999px; height:16px; background:url('../img/pin2.png') no-repeat 2px right; overflow:hidden;}

#manage {}

#footer {display:none;}


/* Gradients are down here because they're ugly 
#feeds li.friend {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(243,243,247)),
    color-stop(0.9, rgb(251,251,255))
  );
}
#feeds li.sport {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(251,243,235)),
    color-stop(0.9, rgb(255,247,239))
  );
}
#feeds li.me {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, rgb(255,255,215)),
    color-stop(0.9, rgb(255,255,239))
  );
}
*/

#feeds li span {display:inline-block;}
#feeds li span.author {}
#feeds li span.comment {}
#feeds li span.datetime {}
#feeds li a.location {}

#manage {}

#footer {}
#feeds li p.comment {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.01, rgb(255,255,255)),
    color-stop(0.3, rgb(247,247,247)),
    color-stop(0.99, rgb(255,255,255))
  );
}

#comment textarea {width:99.5%; height:120px;}
#comment .quickTag li {display:block; float:left; width:32.7%; height:90px; border:1px solid #ccc; text-align:center;}
