body {width:980px; margin:10px auto; background:#222; font:15px Arial, Verdana, Sans-serif;}

#environments {width:100%;}
#environments a.env {padding:0 20px; line-height:3em; text-decoration:none; color:#fff;}
#environments a.env:hover {text-decoration:underline;}
#environments td {border:1px solid #111; border-width:1px 0;}
#environments tr:hover {background:#111;}

div#versions {float:right; width:600px; background:#fff;}
